
<form class="text-center border border-light p-5" name="loginForm" role="form"
[formGroup]="loginForm">

  <p class="h4 mb-4">Авторизация</p>

  <div *ngIf="isLoginFailed" class="alert alert-danger">
      Неверное имя пользователя или пароль
  </div>
  <input type="text" id="login" name="login" class="form-control mb-4" formControlName="login" placeholder="login" required>

  <input type="password" id="password" name="password" class="form-control mb-4" formControlName="password" placeholder="Password" required>
  <div class="d-flex justify-content-around">
    <div>  
      <!-- Remember me -->
      <mdb-checkbox [default]="true">Запомнить меня</mdb-checkbox>
    </div>
  </div>
  <br>
  <button class="btn btn-primary btn-lg btn-block" type="submit" (click)="login()"
  [disabled]="loginForm.invalid">Sign in</button>
  
  <br>
  <p>Не зарегистрированы?
    <a href="signup">Зарегистрироваться</a>
  </p>
</form>