<div class="row justify-content-center">
    <div >
        <div class="card-body">
            <form name="editForm" role="form" [formGroup]="editForm">
                <h2>
                    Создание или редактирование животного
                </h2>
                <div class="alert alert-danger" *ngIf="isCreateFailed">
                    Signup failed!<br />{{ errorMessage }}
                  </div>
                <div class="form-group">
                    <label>
                        Кличка животного
                    </label>
                        <input type="text" class="form-control" id="nickname"
                        formControlName="nickname" required trim="blur"/>
                        <div  *ngIf="editForm.get('nickname')!.invalid && (editForm.get('nickname')!.dirty || editForm.get('nickname')!.touched)">
                            <small class="form-text text-danger">
                      Это поле обязательно к заполнению
                    </small>
                    </div>
                </div>
                <div class="form-group">
                    <label>
                        Тип животного
                    </label>
                    <select class="form-control" name="type" [(ngModel)]="selectedType" formControlName="type" (click)="getBreeds()" required>
                        <option [ngValue]=null >Выберите тип животного</option>
                        <option *ngFor="let type of types" [ngValue]="type" >{{type.typeName}}</option>
                    </select>
                    <div  *ngIf="editForm.get('type')!.invalid && (editForm.get('type')!.dirty || editForm.get('type')!.touched)">
                        <small class="form-text text-danger">
                  Это поле обязательно к заполнению
                </small>
                </div>
                </div>
                <div class="form-group" *ngIf="selectedType"> 
                    <label>
                        Порода вашего животного
                    </label>
                    <select class="form-control" name="breed" [(ngModel)]="selectedBreed" formControlName="breed" required>
                        <option [ngValue]=null >Выберите породу животного</option>
                        <option *ngFor="let breed of breeds" [ngValue]="breed" >{{breed.breedName}}</option>
                    </select>
                    <div  *ngIf="editForm.get('breed')!.invalid && (editForm.get('breed')!.dirty || editForm.get('breed')!.touched)">
                        <small class="form-text text-danger">
                  Это поле обязательно к заполнению
                </small>
                </div>
                </div>
                <div class="form-group"> 
                    <label>
                        Порода вашего животного
                    </label>
                    <select class="form-control" name="sex" [(ngModel)]="selectedSex" formControlName="sex" required>
                        <option [ngValue]=null >Выберите пол животного</option>
                        <option  Value="М" >Мужской</option>
                        <option  Value="Ж" >Женский</option>
                    </select>
                    <div  *ngIf="editForm.get('sex')!.invalid && (editForm.get('sex')!.dirty || editForm.get('sex')!.touched)">
                        <small class="form-text text-danger">
                  Это поле обязательно к заполнению
                </small>
                </div>
                </div>
                <div class="form-group">
                    <label>
                        Цвет животного животного
                    </label>
                        <input type="text" class="form-control" id="color"
                        formControlName="color" required/>
                        <div  *ngIf="editForm.get('color')!.invalid && (editForm.get('color')!.dirty || editForm.get('color')!.touched)">
                            <small class="form-text text-danger">
                      Это поле обязательно к заполнению
                    </small>
                    </div>
                </div>
                <div class="form-group">
                    <label>
                        Цвет животного животного на английском
                    </label>
                        <input type="text" class="form-control" id="colorENG"
                        formControlName="colorENG" required/>
                        <div  *ngIf="editForm.get('colorENG')!.invalid && (editForm.get('colorENG')!.dirty || editForm.get('colorENG')!.touched)">
                            <small class="form-text text-danger">
                      Это поле обязательно к заполнению
                    </small>
                    </div>
                </div>
                <div class="form-group">
                    <label>
                        Дата рождения животного
                    </label>
                        <div class="input-group" style="width: 40%;">
                            <input class="form-control" placeholder="ДД.ММ.ГГГГ" 
                                name="birthday" ngbDatepicker #s="ngbDatepicker" readonly 
                                formControlName="birthday" id="birthday" required >
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary buttoncalendar" (click)="s.toggle()"  type="button">
                                </button>
                            </div>
                            <div  *ngIf="editForm.get('birthday')!.invalid && (editForm.get('birthday')!.dirty || editForm.get('birthday')!.touched)">
                                <small class="form-text text-danger">
                          Это поле обязательно к заполнению
                        </small>
                        </div>
                  

                    </div>
                </div>
                <div class="form-group">
                    <label>
                        Место рождения животного
                    </label>
                        <input type="text" class="form-control" id="placeOfBirth"
                        formControlName="placeOfBirth" required/>
                        <div  *ngIf="editForm.get('placeOfBirth')!.invalid && (editForm.get('placeOfBirth')!.dirty || editForm.get('placeOfBirth')!.touched)">
                            <small class="form-text text-danger">
                      Это поле обязательно к заполнению
                    </small>
                    </div>
                </div>
                <div class="form-group">
                    <label>
                        Вес животного
                    </label>
                        <input type="number" class="form-control" id="weitht"
                        formControlName="weitht" required/>
                        <div  *ngIf="editForm.get('weitht')!.invalid && (editForm.get('weitht')!.dirty || editForm.get('weitht')!.touched)">
                            <small class="form-text text-danger">
                      Это поле обязательно к заполнению
                    </small>
                    </div>
                </div>
                <div class="form-group">
                    <label>
                        Код ТНвед
                    </label>
                        <input type="number" class="form-control" id="tnvedCode"
                        formControlName="tnvedCode" required/>
                        <div  *ngIf="editForm.get('tnvedCode')!.invalid && (editForm.get('tnvedCode')!.dirty || editForm.get('tnvedCode')!.touched)">
                            <small class="form-text text-danger">
                      Это поле обязательно к заполнению
                    </small>
                    </div>
                </div>
                <div class="form-group">
                    <label>
                        Номер чипа
                    </label>
                        <input type="number" class="form-control" id="chip"
                        formControlName="chip" required/>
                        <div  *ngIf="editForm.get('chip')!.invalid && (editForm.get('chip')!.dirty || editForm.get('chip')!.touched)">
                            <small class="form-text text-danger">
                      Это поле обязательно к заполнению
                    </small>
                    </div>
                </div>
            </form>
            <button type="button" id="cancel-save" class="btn btn-secondary" (click)=previousState()>
                &nbsp;<span>Отменить</span>
            </button>
            &nbsp;
            <span placement="top" [ngbTooltip]="editForm.invalid ? 'Не все поля заполнены' : ''">
                <button type="submit" id="save-entity" class="btn btn-primary" [disabled]="editForm.invalid" (click)="save()" placement="top" >
                    &nbsp;<span>Сохранить</span>
                </button>
              </span>
            </div>
        </div>
</div>