  <div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">color</th>
          <th scope="col">weight</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let animal of animals">
          <td>{{ animal.id }}</td>
          <td>{{ animal.nickname }}</td>
          <td>{{ animal.color }}</td>
          <td>{{ animal.weight }}</td>
          <td>
                  <button type="button" id="show-entity" class="btn btn-outline-primary btn-sm"
                                style="width: 40px;" placement="top" ngbTooltip="Предпросмотр">
                                
                                <span class="d-none d-md-inline"></span>
                     </button>
                            &emsp;
                            <button type="submit" [routerLink]="['/news', animal.id, 'edit']"
                                class="btn btn-primary btn-sm" style="width: 40px;" placement="top"
                                ngbTooltip="Изменить">
                                
                                <span class="d-none d-md-inline"></span>
                            </button>
                            &emsp;
                            <button type="submit"  class="btn btn-danger btn-sm"
                                style="width: 40px;" placement="top" ngbTooltip="Удалить">
                                
                                <span class="d-none d-md-inline "></span>
                            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <button (click)="previousState()"  type="button" class="btn btn-outline-primary">Отмена</button>
  </div>
</div>
