  <div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">color</th>
          <th scope="col">weight</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let animal of animals">
          <td>{{ animal.id }}</td>
          <td>{{ animal.nickname }}</td>
          <td>{{ animal.color }}</td>
          <td>{{ animal.weight }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>