<div class="row justify-content-center">
  <div >
  <div class="card-body">
    <form name="editForm" role="form" [formGroup]="editForm">
      <h2>Регистрация нового пользователя</h2>
      <div class="alert alert-danger" *ngIf="isSignUpFailed">
        Signup failed!<br />{{ errorMessage }}
      </div>
      <div class="form-group">
        <label>
          Логин
        </label>
        <input type="text" class="form-control" id="userName" name="userName"
        formControlName="userName" required trim="blur"/>
        <div *ngIf="editForm.get('userName')!.invalid && (editForm.get('userName')!.dirty || editForm.get('userName')!.touched)">
          <small class="form-text text-danger"
                               *ngIf="editForm.get('userName')?.errors?.minlength">
                        Логин должен быть длиннее 6 символов
                        </small>
          <small class="form-text text-danger"
                               *ngIf="editForm.get('userName')?.errors?.maxlength" >
                        Логин должен быть не  длиннее 50 символов
          </small>
          <small class="form-text text-danger"
                               *ngIf="editForm.get('userName')!.dirty || editForm.get('userName')!.touched" >
                      Это поле обязательно к заполнению
          </small>
        </div>
      </div>

      <div class="form-group">
        <label>
          E-mail
        </label>
        <input type="email" class="form-control" id="email" name="email"
        formControlName="email" required/>
        <div *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)">
          <small class="form-text text-danger"
                               *ngIf="editForm.get('email')?.errors && (editForm.get('email')!.dirty || editForm.get('email')!.touched)">
                        Введённые данные не являются e-mail адресом
                        </small>
        </div>
      </div>

      <div class="form-group">
        <label>
          Пароль
        </label>
        <input type="password" class="form-control" id="password" name="password"
        formControlName="password" required/>
        <div *ngIf="editForm.get('password')!.invalid && (editForm.get('password')!.dirty || editForm.get('password')!.touched)">
          <small class="form-text text-danger"
                               *ngIf="editForm.get('password')?.errors?.minlength">
                        Пароль должен быть длиннее 6 символов
                        </small>
          <small class="form-text text-danger"
                               *ngIf="editForm.get('password')?.errors?.maxlength" >
                        Пароль должен быть не  длиннее 50 символов
          </small>
          <small class="form-text text-danger"
                               *ngIf="editForm.get('password')!.dirty || editForm.get('password')!.touched" >
                      Это поле обязательно к заполнению
          </small>
        </div>
      </div>
      <div class="form-group">
        <label>
          Фамилия
        </label>
        <input type="text" class="form-control" id="surname" name="surname"
        formControlName="surname" required/>
        <div *ngIf="editForm.get('surname')!.invalid && (editForm.get('surname')!.dirty || editForm.get('surname')!.touched)">
          <small class="form-text text-danger"
                               *ngIf="editForm.get('surname')?.errors?.maxlength" >
                        Фамилия должен быть не  длиннее 50 символов
          </small>
          <small class="form-text text-danger"
                               *ngIf="editForm.get('surname')!.dirty || editForm.get('surname')!.touched" >
                      Это поле обязательно к заполнению
          </small>
        </div>
      </div>
      
      <div class="form-group">
        <label>
          Фамилия на английском
        </label>
        <input type="text" class="form-control" id="surnameEng" name="surnameEng"
        formControlName="surnameEng" required/>
        <div *ngIf="editForm.get('surnameEng')!.invalid && (editForm.get('surnameEng')!.dirty || editForm.get('surnameEng')!.touched)">
          <small class="form-text text-danger"
                               *ngIf="editForm.get('surnameEng')?.errors?.maxlength" >
                        Фамилия должен быть не  длиннее 50 символов
          </small>
          <small class="form-text text-danger"
                               *ngIf="editForm.get('surnameEng')!.dirty || editForm.get('surnameEng')!.touched" >
                      Это поле обязательно к заполнению
          </small>
        </div>
      </div>
      <div class="form-group">
        <label>
          Имя
        </label>
        <input type="text" class="form-control" id="name" name="name"
        formControlName="name" required/>
        <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
          <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.maxlength" >
                        Имя должен быть не  длиннее 50 символов
          </small>
          <small class="form-text text-danger"
                               *ngIf="editForm.get('name')!.dirty || editForm.get('name')!.touched" >
                      Это поле обязательно к заполнению
          </small>
        </div>
      </div>
      <div class="form-group">
        <label>
          Имя на английском
        </label>
        <input type="text" class="form-control" id="nameEng" name="nameEng"
        formControlName="nameEng" required/>
        <div *ngIf="editForm.get('nameEng')!.invalid && (editForm.get('nameEng')!.dirty || editForm.get('nameEng')!.touched)">
          <small class="form-text text-danger"
                               *ngIf="editForm.get('nameEng')?.errors?.maxlength" >
                        Имя должен быть не  длиннее 50 символов
          </small>
          <small class="form-text text-danger"
                               *ngIf="editForm.get('nameEng')!.dirty || editForm.get('nameEng')!.touched" >
                      Это поле обязательно к заполнению
          </small>
        </div>
      </div>
      <div class="form-group">
        <label>
          Отчество
        </label>
        <input type="text" class="form-control" id="patronymic" name="patronymic"
        formControlName="patronymic" required/>
        <div *ngIf="editForm.get('patronymic')!.invalid && (editForm.get('patronymic')!.dirty || editForm.get('patronymic')!.touched)">
          <small class="form-text text-danger"
                               *ngIf="editForm.get('patronymic')?.errors?.maxlength" >
                        Отчество должен быть не  длиннее 50 символов
          </small>
          <small class="form-text text-danger"
                               *ngIf="editForm.get('patronymic')!.dirty || editForm.get('patronymic')!.touched" >
                      Это поле обязательно к заполнению
          </small>
        </div>
      </div>
      <div class="form-group">
        <label>
          Адрес проживания
        </label>
        <input type="text" class="form-control" id="address" name="address"
        formControlName="address" required/>
        <div *ngIf="editForm.get('address')!.invalid && (editForm.get('address')!.dirty || editForm.get('address')!.touched)">
          <small class="form-text text-danger"
                               *ngIf="editForm.get('address')?.errors?.maxlength" >
                        Адрес должен быть не  длиннее 255 символов
          </small>
          <small class="form-text text-danger"
                               *ngIf="editForm.get('address')!.dirty || editForm.get('address')!.touched" >
                      Это поле обязательно к заполнению
          </small>
        </div>
      </div>
      <div class="form-group">
        <label>
          Номер телефона
        </label>
        <input type="text" class="form-control" id="phone" name="phone"
        formControlName="phone" required/>
        <div *ngIf="editForm.get('phone')!.invalid && (editForm.get('phone')!.dirty || editForm.get('phone')!.touched)">
          <small class="form-text text-danger"
                               *ngIf="editForm.get('phone')?.errors?.maxlength" >
                        Номер телефона должен быть не  длиннее 13 символов
          </small>
          <small class="form-text text-danger"
                               *ngIf="editForm.get('phone')?.errors?.minlength" >
                        Номер телефона должен быть не  короче 11 символов
          </small>
          <small class="form-text text-danger"
                               *ngIf="editForm.get('phone')!.dirty || editForm.get('phone')!.touched" >
                      Это поле обязательно к заполнению
          </small>
        </div>
      </div>
      <div class="form-group" >
        <label>
          ИНН
        </label>
        <input type="text" class="form-control" id="inn" name="inn"
        formControlName="inn" required/>
        <div *ngIf="editForm.get('inn')!.invalid && (editForm.get('inn')!.dirty || editForm.get('inn')!.touched)">
          <small class="form-text text-danger"
                               *ngIf="editForm.get('inn')?.errors?.maxlength" >
                        ИНН должен быть не  длиннее 20 символов
          </small>
          <small class="form-text text-danger"
                               *ngIf="editForm.get('inn')!.dirty || editForm.get('inn')!.touched" >
                      Это поле обязательно к заполнению
          </small>
        </div>
      </div>
      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
            &nbsp;<span>Отменить</span>
        </button>
        &nbsp;
        <span placement="top" [ngbTooltip]="editForm.invalid ? 'Не все поля заполнены' : ''">
        <button type="submit" id="save-entity" class="btn btn-primary" [disabled]="editForm.invalid" (click)="register()" placement="top" >
            &nbsp;<span>Зарегистрироваться</span>
        </button>
      </span>
    </div>
    
    </form>
  </div>
</div>
</div>