<p style="background:#FFDAB9">Внимание! На данном сайте Вы можете оформить комплект документов, необходимый только при поездках по территории Российской Фередарции и встраны Евросоюза.</p>

<h2>Подготовка к поездке</h2>
<p><b>Чипирование</b></p>
<p>Первое, что нужно сделать для ввоза животного в большинство стран, – чипировать его. Ветеринарный врач вводит микрочип под кожу в область холки животного (безболезненная процедура) и вносит индивидуальный номер микрочипа в ветеринарный паспорт с указанием даты процедуры. Данные всех микрочипов заносятся в международную базу Animal-ID.</p>
<p>Как правило, микрочип должен соответствовать международным стандартам качества ISO11784/11785. В некоторых странах признаются другие стандарты.</p>

<p><b>Вакцинация против бешенства</b></p>
<p>Вакцинация против бешенства – еще одно обязательное требование для путешествия с животным за рубеж (вакцинация нужна и для поездок с животным по России). Эта прививка необходима собакам, кошкам, домашним хорькам, кроликам и другим плотоядным животным.</p>
<p>Даже если вы не планируете путешествие с домашним питомцем, вакцинацию против бешенства и других инфекций нужно проводить каждый год, если иное не предусмотрено в инструкции по применению препарата.</p>
<p style="background:#F1FEE2 ;border:1px #C6D880 solid;">Внимание! Дата введения вакцины против бешенства не должна предшествовать дате вживления чипа. Если животное уже было вакцинировано в текущем году, а чипирование сделано только сейчас, прививку от бешенства придется делать еще раз.</p>
<p>Для большинства стран вакцинацию нужно пройти не позже, чем за 21 день до пересечения границы. Это время нужно, чтобы в крови животного выработались антитела к вирусу бешенства.  </p> 

<p><b>Другие вакцинации и обработки</b></p>
<p>Кроме вакцины против бешенства, животному нужно сделать другие прививки.</p>
<p>Собаки вакцинируются против чумы плотоядных, гепатита, парвовирусных инфекций и аденовирусных инфекций, лептоспироза (если не были обработаны с профилактической целью дегидрострептомицином или веществом, зарегистрированным в стране-экспортере, дающим эквивалентный эффект). Кошки – против панлейкопении. Хорьки – против чумы плотоядных, вирусного энтерита, псевдомоноза. Кролики – против миксоматоза и вирусной геморрагической болезни. Для птиц и других животных также существуют особые исследования и процедуры. Узнать о нужных вам процедурах необходимо заранее в консульстве той страны, в которую направляетесь вы и ваш питомец.</p>
    
    <h2>Инструкция по оформлению экспортных ветеринарно-спороводительных документов</h2>
<h5>Шаг 1. Регистрация. </h5>
    <p>Для ввода данных о пользователе используйте свои паспортные данные.</p>
<h5>Шаг 2. Выбор места назначения.</h5>
    <p>Создайте заявку на оформление комплекта документов, выбрал регион и страну назначения. Созданная заявка будет сохранена в личном кабинете. </p>
<h5>Шаг 3. Ввод дополнительной информации.</h5>
    <p>Добавьте в заявку дату поездки, пункт пересечения границы (если пересекаете границу Российской Федерации), транспортное средство</p>
<h5>Шаг 4. Добавьте животное (животных) в заявку.</h5>
    <p>Информация о животном должна совпадать с информацией в ветеринарного паспорте. Для оформления ветерианрного паспорта Вам нужно обратиться в любую ветеринарную клинику. Созданые Вами животные будут сохранены в личном кабинете.</p>
<h5>Шаг 5. Добавьте информацию о состоянии здоровья животного (животных).</h5>
    <p>Добавьте информацию о проведенных животному вакцинациях и лабораторных исследованиях, согласно данные ветеринарного паспорта. </p>
<h5>Шаг 6. Посетите ветеринарную клинику для получения ветеринарного сертификата формы 1</h5>
    <p>Спустя 30 дней или более после прививки от бешенства Вам вместе с питомцем нужно будет посетить <i><u>государственную</u></i> ветеринарную клинику, где животное еще раз посмотрят и дадут данное свидетельство, если соблюдаются все условия:
    </p>
    <ul>
        <li>Удовлетворительное состояние здоровья;</li>
        <li>Наличие ветеринарного паспорта;</li>
        <li>Своевременное проведение соответствующих прививок и вакцинаций;</li>
    </ul> 
    <p>Справка формы № 1 действительна на протяжении <i><u>пяти дней</u></i> от даты получения
        Прохождение процедуры чипирования необходимо при тех обстоятельствах, когда хозяин с животным собираются покинуть пределы страны.
    </p>
    <p>Ссылка на скачивание ветеринарного сертификата будет хранится в Вашем личном кабинете.</p>

<h5>Шаг №7. Пройдите ветеринарный контроль в аэропорту</h5>
<p>Чтобы пройти ветеринарный контроль в аэропорту, вам понадобятся международный паспорт животного с данными о результатах всех вакцинаций и исследований или ветеринарное свидетельство формы №1.</p>
<p>Если вы путешествуете в страны СНГ, животному достаточно ветеринарного свидетельства формы №1 на всем маршруте следования.</p>
<p>Если вы едете в Евросоюз, в аэропорту сотрудники Россельхознадзора оформят на ваше животное Евросправку. Если цель вашего назначения любая другая страна, не перечисленная выше, то вам выдадут сертификат формы 5а.</p>
<p>При выезде в аэропорт заложите дополнительное время на прохождение этих процедур.</p>
<p>Если вы путешествуете на поезде или на машине, оформить сертификат формы 5а или Евросправку нужно заранее. В Москве это можно сделать в Клинико-диагностическом центре ФГБУ «ВГНКИ» или в кабинете Управления Россельхознадзора по Москве, Московской и Тульской областям. В других городах и регионах необходимо обратиться в территориальное управление Россельхознадзора.</p>
<p>Ссылки на оформленные документы будут храниться в Вашем личном кабинете.</p>

<h5>Шаг №8. Возвращение домой</h5>
<p>При возвращении в Россию не позднее, чем через 90 дней, вам достаточно предъявить в пункте пересечения границы или в аэропорту сертификат 5а, оформленный Россельхознадзором при вывозе животного, или международный ветеринарный паспорт.</p>
<p>В случае, если вы задержались за рубежом на срок свыше 90 дней, ввоз в Россию животного возможно осуществить в сопровождении международного паспорта, при условии наличия в нем отметки компетентного органа страны, из которой вы уезжаете, о проведении клинического осмотра питомца в течение четырнадцати дней перед отправкой.</p>
<p>Под отметкой компетентного органа подразумевается внесение в международный паспорт записи о проведении клинического осмотра с подтверждением, что животное здорово. Указанная запись должна быть завизирована подписью и печатью ветврача страны-экспортера, уполномоченного компетентным органом.</p>

<h5>Видеоинструкция: Как путешествовать с домашними животными за рубеж</h5>
<p><iframe width="560" height="315" src="https://www.youtube.com/embed/6Qf5S9Ui34Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe><p>
