<div class="row justify-content-center">
    <div class="col-8">
        <div class="card-body">
       <h2 class="page-heading">
        <span *ngIf="date >= 18 && 23 > date">Добрый вечер</span>
        <span *ngIf="date >= 23 || 5 >= date">Доброй ночи</span>
        <span *ngIf="date >= 6 && 12 > date">Доброе утро</span>
        <span *ngIf="date >= 12 && 18 > date">Добрый день</span> 
        , {{user.name}}!
      </h2> 
      <br>
      <h2>
        <span>Мои заявки</span>
      </h2>
      <div *ngIf="requests && requests?.length > 0" class="table-responsive">
        <table class="table table-striped" aria-describedby="page-heading" style="table-layout: fixed;">
          <thead class="thead">
            <tr>
              <th scope="col" width="30%">Номер заявки</th>
              <th scope="col" width="30%">Страна назначения</th>
              <th scope="col" width="30%">Статус</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let request of requests">
              <td><a [routerLink]="['/requests', request.id, 'view']" class="text" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin: auto;">{{request.requestNumber}}</a></td>
              <td><a class="text" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin: auto;">{{request.destinationCountry.countryName}}</a></td>
              <td><span *ngIf="request.status == 'CREATED'">Создана</span>
                <span *ngIf="request.status == 'PREPARED'">Подготовлена</span>
                <span *ngIf="request.status == 'CONFIRM'">Подтверждена</span>
                <span *ngIf="request.status == 'FROM_ONE_SERTIFICATED'">Выдан Сертификат формы 1</span>
                <span *ngIf="request.status == 'EXPORT_DOCS_ISSUED'">Выданы экспотрные документы</span>
                <span *ngIf="request.status == 'CLOSED'">Закрыта</span>
              </td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="requests?.length == 0"  class="alert alert-warning">
        <span>У вас нет созданных заявок</span>
      </div>
      <h2>
        <span>Мои животные</span>
        <button type="submit" class="btn btn-primary float-right btn-sm btn-pad"  [routerLink]="['/animals/new']">
            Добавить животное
        </button>
      </h2>
      <div class="table-responsive" *ngIf="animals && animals?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading" style="table-layout: fixed;">
          <thead class="thead">
            <tr>
              <th scope="col" width="30%">Кличка</th>
              <th scope="col" width="25%">Порода</th>
              <th scope="col" width="25%">Дата рождения</th>
              <th width="20%" ></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let animal of animals">
              <td><a [routerLink]="['/animals', animal.id, 'view']" class="text" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin: auto;">{{ animal.nickname }}</a></td>
              <td>{{ animal.breed.typeOfAnimal.typeName }} : {{animal.breed.breedName}}</td>
              <td>{{ animal.birthday | date: 'yyyy-MM-dd' }}</td>
              <td  class="text-right">
                <div class="btn-group">
                          <button type="submit" [routerLink]="['/animals', animal.id, 'edit']"
                              class="btn btn-primary btn-sm" placement="top"
                              ngbTooltip="Изменить">
                              Редактировать
                              <span class="d-none d-md-inline"></span>
                          </button>
                          &nbsp;
                          <button type="submit"  class="btn btn-danger btn-sm"
                              placement="top" ngbTooltip="Удалить" (click)="delete(animal.id)">
                              Удалить
                              <span class="d-none d-md-inline "></span>
                          </button>
                        </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
    </div>
</div>


