<nav class="navbar navbar-light" style="background-color: #ffffff;">
<table border="0" width="100%" >
    <tr>
        <td><img class="rounded-circle" src="../../../assets/img/logo.jpg" alt="логотип" width="80" height="80"></td>
        <td><font size="5" color="#000000" face="garamond">
                Система оформления экспортных ветеринарно-спороводительных документов
            </font>
        </td>
        <td><p align="right"><font size="5" color="#008080" face="garamond">
            <u>Справочная информация</u>
            </font></p>
        </td>
    </tr>
    <tr>
        <td></td><td></td>
        <td><p align="right"><font size="5" color="#008080" face="garamond">
            <u><a (click)="login()">Личный кабинет</a></u>
            </font></p>
        </td>
    </tr>
</table>
</nav>