<div class="modal-header">
    <h4 class="modal-title">Подтверждение выдачи документов </h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            (click)="clear()">&times;</button>
</div>
<div  class="modal-body">
    <h3>Вы подтверждаете правильность введённых данных и даёте согласие на выдачу сопроводительных документов?</h3>
        <button type="submit" id="save-entity" class="btn btn-primary"  (click)="save()" placement="top" >
            &nbsp;<span>Да</span>
        </button>
        &nbsp;
        <button type="submit" id="save-entity" class="btn btn-danger"  (click)="clear()" placement="top" >
            &nbsp;<span>Нет</span>
        </button>
</div>