<div class="modal-header">
    <h4 class="modal-title">Подтверждение выдачи документов </h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            (click)="clear()">&times;</button>
</div>
<div  class="modal-body">
    <h3>К сожалению, данная функция пока недоступна, приносим свои извинения :(</h3>
        <button type="submit" id="save-entity" class="btn btn-primary"  (click)="save()" placement="top" >
            &nbsp;<span>Сохранить</span>
        </button>
</div>