<div class="row justify-content-center">
    <div class="col-8">
        <div class="card-body">
            <h2>
                <p>
                <span>Информация о заявке № {{request.requestNumber}}</span>
                </p>
                <div *appHasAnyAuthority="['ROLE_USER']">
                    <span class="float-right " *ngIf="request.status == RequestStatus['0']"><a [routerLink]="['/requests', request.id, 'edit']" >Редактировать </a>
                    </span> 
                </div>
                <span class="float-right " *appHasAnyAuthority="['ROLE_VETERINARIAN']"><a [routerLink]="['/requests', request.id, 'edit']" >Редактировать</a></span>
                <button class="btn btn-primary float-right" (click)="confirmRequest()" [disabled]="errors.length > 1 || fillingErrors.length > 1 || request.animals.length ==0" *ngIf="request.status == RequestStatus['0']">Подтвердить</button>
                <div *ngIf="request.status == RequestStatus['2']"><button class="btn btn-primary float-right"  *appHasAnyAuthority="['ROLE_VETERINARIAN']" (click)="giveFormOneSertificate()  ">Выдать сертификат формы 1</button></div>
                <div *ngIf="request.status == RequestStatus['3']"> <button class="btn btn-primary float-right" *appHasAnyAuthority="['ROLE_ROSSELHOZNADZOR']" (click)="giveExportDocuments()" >Выдать сопроводитльные документы</button></div>
            </h2>
        </div>
        <div *ngIf="fillingErrors && fillingErrors.length > 0">
            <h4>Внимание! Вам нужно указать следующую информацию прежде чем переходить к следующему шагу</h4>
            <div *ngFor="let error of fillingErrors" class="alert alert-danger">{{error}}</div>
        </div>
        <div *appHasAnyAuthority="['ROLE_USER']">
            <div *ngIf="errors.length == 1 && fillingErrors.length == 0 && request.animals?.length > 0">
                <h4>Отлично, все правила соблюдены, теперь вы можете обраться в любоую государственную ветеринарную клинику для оформления сертификата формы 1!</h4>
            </div>
        </div>
        <dl class="row-md jh-entity-details">
            <dt><span>Страна назначения</span></dt>
            <dd>
                <span>{{request.destinationCountry.countryName}}</span>
            </dd>
            <div *ngIf="request.destinationCity">
                <dt><span>Город названичеия</span></dt>
                <dd>
                    <span>{{request.destinationCity}}</span>
                </dd>
            </div>
            <div *ngIf="request.postalCode">
                <dt><span>Почтовый индекс</span></dt>
                <dd>
                    <span>{{request.postalCode}}</span>
                </dd>
            </div>    
            <dt><span>Дата отправления</span></dt>
            <dd>
                <span>{{request.dateOfDeparture | date: 'yyyy-MM-dd'}}</span>
            </dd>
            <div *ngIf="request.transport">
                <dt><span>Транспортное средство</span></dt>
                <dd>
                    <span>{{request.transport}}</span>
                </dd>
            </div> 
            <div *ngIf="request.vehicleNumber">
                <dt><span>Номер транспортного средства</span></dt>
                <dd>
                    <span>{{request.vehicleNumber}}</span>
                </dd>
            </div> 
            <div *ngIf="request.transactionType">
                <dt><span>Цель поездки</span></dt>
                <dd>
                    <span>{{request.transactionType}}</span>
                </dd>
            </div>
            <dt><span>Статус</span></dt>
            <dd>
                <span *ngIf="request.status == RequestStatus['0']">Создана</span>
                <span *ngIf="request.status == RequestStatus['1']">Подготовлена</span>
                <span *ngIf="request.status == RequestStatus['2']">Подтверждена</span>
                <span *ngIf="request.status == RequestStatus['3']">Выдан Сертификат формы 1</span>
                <span *ngIf="request.status == RequestStatus['4']">Выданы экспотрные документы</span>
                <span *ngIf="request.status == RequestStatus['5']">Закрыта</span>
            </dd> 
            <div *ngIf="request.borderCrossingPoint">
                <dt><span>Пункт пересечения границы</span></dt>
                <dd class="text-overflow">
                <span >{{request.borderCrossingPoint.location}}</span>
                </dd>
            </div>
            <div *ngIf="request.veterinarian">
                <dt>Ветеринарный врач, выдавший сертификат формы 1</dt>
                <dd>{{request.veterinarian.surname}} {{request.veterinarian.name}} {{request.veterinarian.patronymic}}</dd>
            </div>
            <div *ngIf="request.inspectorOfRosselkhoznadzor && request.status == RequestStatus['4']">
                <dt>Инспектор Россельхознадзора, выдавший документы </dt>
                <dd>{{request.inspectorOfRosselkhoznadzor.surname}} {{request.inspectorOfRosselkhoznadzor.name}} {{request.inspectorOfRosselkhoznadzor.patronymic}}</dd>
                <dd>
                    <button class="btn btn-primary" (click)="downloadDocument(this.request.certificateEuroNumber.id)">
                        Скачать экспортные документы
                    </button>
                    &nbsp;
                    <button class="btn btn-primary" (click)="downloadDocument(this.request.certificate5aFormNumber.id)">
                        Скачать сертификт формы 5а документы
                    </button>
                </dd>
            </div>
        </dl>
        <div *ngIf="errors.length > 0">
            <div *ngFor="let animalError of errors">
                <div class="alert alert-danger" role="alert" *ngFor="let error of animalError">
                    Ошибка у животного : {{request.animals[errors.indexOf(animalError)].nickname}} : {{error}}
                </div>
            </div>
        </div>
        <h2>
            <span>Животные в заявке</span>
                <button type="submit" class="btn btn-primary float-right" (click)="addAnimal()" *ngIf="isViewerRecipient && request.status == RequestStatus['0']"> 
                    Добавить
                </button>
        </h2>


        <div *ngIf="request.animals?.length == 0"  class="alert alert-warning">
            <span>Нет животных в этой заявке</span>
        </div>
        <div *ngIf="request.animals && request.animals?.length > 0" class="table-responsive">
            <table class="table table-striped" style="table-layout: fixed;">
                <thead>
                    <tr>
                        <th scope="col">Кличка животного</th>
                        <th scope="col">Дата рождения</th>
                        <th scope="col">Статус</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let animal of request.animals">
                        <td><a [routerLink]="['/animals', animal.id, 'view']" class="text" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin: auto;">{{animal.nickname}}</a></td>
                        <td>{{ animal.birthday | date: 'yyyy-MM-dd' }}</td>
                        <td>{{ animal.status }}</td>
                        <td class="text-right">
                            <div class="btn-group">
                                <button type="submit"  class="btn btn-danger btn-sm" *ngIf="request.status == RequestStatus['0']"
                              placement="top" ngbTooltip="Удалить животное из заявки" (click)="deleteAnimalFromRequest(animal)">
                              Удалить
                              <span class="d-none d-md-inline "></span>
                          </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
                
            </table>
        </div>
    </div>
</div>
