<div class="row justify-content-center">
    <div class="col-8">
        <div class="card-body">
            <h2 class="page-heaging">
                <span>Список заявок</span>
            </h2>
            <div *ngIf="requests?.length == 0"  class="alert alert-warning">
                <span>Заявки не найдёны</span>
            </div>
            <div class="table-responsive" *ngIf="requests && requests.length > 0">
                <table class="table table-striped" aria-describedby="page-heading" style="table-layout: fixed;">
                    <thead class="thead">
                        <tr>
                            <th scope="col">Номер заявки</th>
                            <th scope="col">Заявитель</th>
                            <th scope="col">Страна назначения</th>
                            <th scope="col">Статус</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let request of requests">
                            <td>{{request.requestNumber}}</td>
                            <td>{{request.recipient.surname}} {{request.recipient.name}} {{request.recipient.patronymic}}</td>
                            <td>{{request.destinationCountry.countryName}}</td>
                            <td>{{request.status}}</td>
                            <td class="text-right">
                                <div class="dtn-group">
                                    <button type="submit" [routerLink]="['/requests', request.id, 'view']"
                                        class="btn btn-primary btn-sm" placement="top"
                                        ngbTooltip="Изменить">
                                        Просмотреть
                              <span class="d-none d-md-inline"></span>
                          </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>