<div class="modal-header">
        <h4 class="modal-title">Добавление информации о вакцине</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
   
    <div class="modal-body"> 
        <form name="editForm" role="form" [formGroup]="editForm">
        <div class="form-group">
            <label>
                Тип вакцинации
            </label>
            <select class="form-control" name="type" formControlName="type" id="field_type" required>
                <option value="TREATMENT">Обработка</option>
                <option value="IMMUNIZATION">Иммунизация</option>
            </select>
        </div>

        <div class="form-group">
            <label>
                Название вакцины
            </label>
            <input type="text" class="form-control" id="title" formControlName="title" required/>
        </div>

        <div class="form-group">
            <label>
                Номер серии
            </label>
            <input type="text" class="form-control" id="vaccineBatchNumber" formControlName="vaccineBatchNumber" required/>
        </div>

        <div class="form-group">
            <label>
                Производитель вакцины
            </label>
            <input type="text" class="form-control" id="vaccineNameAndManufacturer" formControlName="vaccineNameAndManufacturer" required/>
        </div>

        <div class="form-group row" >
            <div class="form-group" style="margin-left: 15px;">
                <label>
                    Дата вакцинации
                </label>
                <div class="input-group" >
                    <input class="form-control" placeholder="ДД.ММ.ГГГГ" 
                                name="date" ngbDatepicker #s="ngbDatepicker" readonly 
                                formControlName="date" id="date" required >
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary buttoncalendar" (click)="s.toggle()"  type="button">
                        </button>
                    </div>
                    &emsp;&emsp;&emsp;&emsp;
                </div>
                
            </div>
            <div class="form-group" style="margin-left: 30px;">
                <label>
                    Срок действия
                </label>
                <div class="input-group" >
                    <input class="form-control" placeholder="ДД.ММ.ГГГГ" 
                                name="validUntil" ngbDatepicker #v="ngbDatepicker" readonly 
                                formControlName="validUntil" id="validUntil" required >
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary buttoncalendar" (click)="v.toggle()"  type="button">
                        </button>
                    </div>
                </div>
            </div>  
        </div>
        &nbsp;
            <button type="submit" id="save-entity" class="btn btn-primary" [disabled]="editForm.invalid" (click)="save()" placement="top" >
                &nbsp;<span>Сохранить</span>
            </button>
    </form>
</div>
