
<div class="card my-5">
  <div class="card-body">
    <h2>
    Добрый вечор, куда полетим со своей псиной?
    </h2>
<div class="dropdown">
  <select id="reg" name="region" class="btn btn-info dropdown-toggle" [(ngModel)]="selected" (click)="check()">
    <option [ngValue]=null>Выберите регион названичения</option>
    <option *ngFor="let region of regions" [ngValue]="region">
      {{ region.name }}
    </option>

  </select>
  <div *ngIf="selected">
    <h2>
    Вы выбрали {{selected.name}}
  </h2>
  <div class="dropdown">
    <select id="country" name="country" class="btn btn-info dropdown-toggle"  [(ngModel)]="selectedCountry">
      <option [ngValue]=null>Выберите страну названичения</option>
      <option *ngFor="let country of countries" [ngValue]="country">
        {{ country.countryName }}
      </option>
    </select>
    <div *ngIf="selectedCountry">
    <p >
      Для поедки в {{selectedCountry.countryName}} вам нужно будет сделать то-то, и то-то, привить свою псину от того-то, и вообще, проще было бы дома сидеть
    </p>
    <button type="button" class="btn btn-primary">Создать заявку</button>
  </div>
  </div>
</div>
<p>
 <a routerLink="animals"> Тестовая ссылка для проверки запроса животных</a>
</p>
</div>
  </div></div>
