
<div class="card my-5">
  <div class="card-body">
    <h4>
    Для создания заявки на оформление комплекта необходимых документов, выберите регион и страну назначения 
    </h4>
    <br/>
<div class="dropdown">
  <select id="reg" name="region" class="btn btn-info dropdown-toggle" [(ngModel)]="selected" (click)="check()">
    <option [ngValue]=null>Выберите регион назначения</option>
    <option *ngFor="let region of regions" [ngValue]="region">
      {{ region.name }}
    </option>

  </select>
  <div *ngIf="selected">

  <div class="dropdown">
    <br/>
    <select id="country" name="country" class="btn btn-info dropdown-toggle"  [(ngModel)]="selectedCountry">
      <option [ngValue]=null>Выберите страну назначения</option>
      <option *ngFor="let country of countries" [ngValue]="country">
        {{ country.countryName }}
      </option>
    </select>
    <div *ngIf="selectedCountry">
    <p *appHasAnyAuthority="['ROLE_USER', 'ROLE_ADMIN']">
      После создания заявки, Вам нужно будет ввести в нее всю необходимую информацию
    </p>
    <p *appHasNoAuthority>
      Для создания заявки, Вам нужно войти в <a routerLink="account">личный кабинет</a>
    </p>
    <div *appHasAnyAuthority="['ROLE_USER', 'ROLE_ADMIN']">
      <button type="button" class="btn btn-primary" (click)="createRequest()" >Создать заявку</button>
   </div>
  </div>
  </div>
</div>
</div>
  </div></div>
